@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.eot");
    src: url("../fonts/Roboto-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Roboto-Medium";
    src: url("../fonts/Roboto-Medium.eot");
    src: url("../fonts/Roboto-Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Roboto-Medium.woff") format("woff"),
    url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
*{text-align: center; color: #fff;}
html{
    width: 100%;
	height: 100%;
}
body{
    width: 100%;
    min-height: 100%;
}
a{
    display: inline-block;
    outline: none !important;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    background: #f81202;
    padding: 7px 10px 8px 11px;
    font-size: 31px;
    border-radius: 8px;
    line-height: 40px;
    box-shadow: 0px 5px 2px #7b0900;
    font-family: Roboto-Medium;    
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
}
a:hover{
	color: #fff;
	text-decoration: none;
	opacity: .9;
}
a:focus{
	color: #fff;
	text-decoration: none;
    outline: none !important;	
}
header{
	background: url(../images/bg.jpg) no-repeat;
	background-size: 100% 100%;
	height: 50%;
}
header p{
	margin: 52px 0 45px;
    font-size: 25px;
    font-family: Roboto-Regular;
    font-style: italic;
}
h1{
	font-size: 38px;
	margin: 12% 0 0% 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Roboto-Medium;
}
h2{
	font-size: 34px;
	margin: 0px 0 5% 0;
    font-family: Roboto-Medium;
}
header a{
    margin: 2% 0 6% 0;
}
.container-fluid{
	max-width: 1140px;
}
main{
	height: 50%;
}
main .row{
	max-width: 1055px;
	margin: -49px auto 0;
    padding: 69px 0 19px;
    border: 2px solid #586ded;
    border-radius: 3px;
}
main .title{
    background: #586ded;
    color: #fff;
    margin: 20px auto 0;
    width: 68%;
    border-radius: 9px;
    font-size: 22px;
    padding: 5px 6px;
    line-height: 29px;
}
span{
	text-transform: uppercase;
}
figcaption {
    color: #000000;
    font-size: 20px;
    line-height: 25px;
    width: 69%;
    display: inline-block;
}
main a{
	margin: 3% 0;
    padding: 17px 0 7px 0;
    width: 515px;
}
@media (max-width: 992px) {
	figcaption {
		width: 90%;
	}
}